# Data Science Tools and Ecosystem

## Author
N. A-Wong

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List some commonly used libraries by data scientists
* Tabulate some popular data science tools
* Run a few arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
    
1. ggplot for data visualization in R
2. dplyr for data wrangling in R
3. numpy for mathematical manipulation of arrays and matrices in python

| Data Science Tools | 
| --- | 
| Pandas | 
| Hadoop |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335